.title{
    margin: auto;
    margin-bottom: 10px;
         text-align:center;
         width: 500px;
    color: rgb(7, 87, 207);
    border: solid black 2px;
}

.titl{
    margin: auto;
    margin-bottom: 10px;
         width: 50%;
         height: 100%;

}
input[type="text"]{
    color: rgb(12, 11, 94);
    border: solid black 2px;
    width:100%
}
input[type="button"]{
    background-color: rgba(59, 228, 254, 0.722);
    border: solid black 2px;
    font-style: italic;
    width:100%

}

.clock {
    color: #17D4FE;
    font-size: 50px;
    font-family: Orbitron;
    letter-spacing: 7px;
    background-color: #3B5998;
  }

  
  /* style the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #380328;
    color: white;
    text-align: center;
  }


.social-icon {
width: 4.5rem;
margin: 1rem 0.5rem;
padding: 1rem;
border-radius: 1rem;
}

.footer-desc {
color: white;
font-size: 0.9em;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-instagram {
  background: #d82dd8;
  color: rgb(255, 249, 255);
}